
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  font-size: 16px;
  color: seashell;
  background-color: #141414;
}
/* HEADER ------------------------------------------------------------------------------------------*/
header {
  display: block;
  width: 100%;
}
#main-title {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}
#main-title > h1 {
  margin: 0 20px;
  text-align: center;
  overflow: auto;
  letter-spacing: 1px;
}
#main-title > span {
  font-size: 3em;
}
header > hr {
  background-color: seashell;
  border: none;
}
.linia-1 {
  height: 15px;
  margin-bottom: 8px;
}
.linia-2 {
  height: 10px;
  margin-bottom: 7px;
}
.linia-3 {
  height: 5px;
  margin-bottom: 5px;
}

/* MAIN CONTENT -----------------------------------------------------------------------------------*/
#main-content {
  display: block;
  width: 100%;
}
#main-content > hr {
  background-color: seashell;
  border: none;
}
/* JUMBOTRON --------------------------------------------------------*/
#jumbotron {
  width: 100%;
  height: 500px;
  background-image: url("../imgs/inicio.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title-2 {
  width: 90%;
  margin: auto;
}
#title-2 > h2 {
  text-align: center;
  font-size: 3em;
  text-shadow: 3px 3px 3px #141414;
  -webkit-text-stroke: 0.5px #141414;
}

/* EXPERIENCE -------------------------------------------------------*/
#experience {
  display: block;
  width: 100%;
  height: auto;
}
/* INTRO -----------------------*/
.intro-experience {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
  margin-top: 10px;
  background-color: #141414;
}
.intro-experience > div {
  width: 100%;
}
.intro-experience > div > h3, p {
  text-align: center;
  letter-spacing: 1px;
}
.title-3 {
  font-size: 1.8em;
}
.p-ofrecidas {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
/* MULTICONTENT ----------------*/
#multicontent {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
#multicontent > div {
  width: 400px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 30px;
}
#multicontent > div > img, div {
  width: 50%;
  display: inline-block;
}
.inner-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.inner-content > h5, p {
  width: 100%;
  text-align: center;
  padding: 0 10px;
}
.inner-content > p {
  font-size: 0.8em;
  position: relative;
  top: -20px;
}
.inner-content > h5 {
  text-transform: uppercase;
}
.price {
  position: absolute;
  padding: 3px 7px;
  background-color: rgb(186, 24, 24);
  width: auto;
  border-radius: 25px;
  top: 7px;
  left: 7px;
}

/* TEAM -------------------------------------------------------*/
#team {
  display: block;
  width: 100%;
  height: auto;
  background-image: url("../imgs/arasicony.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#team > hr {
  background-color: seashell;
  border: none;
}
/* GRID ----------------*/
#grid {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #141414;
}
#grid > div {
  width: 290px;
  
}
#grid > div > img {
  height: 80%;
  width: 100%;
}
.inner-cont {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.inner-cont > h5, p {
  width: 100%;
}
.inner-cont > h5 {
  font-size: 1.3em;
  margin: 5px 0;
  text-align: center;
}
.p-ofrecidas > span {
  font-size: 2.5em;
}
.p-ofrecidas > p {
  display: inline;
  width: auto;
}
#cr {
  font-size: .7em;
  margin-top: 20px;
}